# Django settings module
DJANGO_SETTINGS_MODULE=conduit.settings

# Initial superuser (created by backend entrypoint)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-password

# Django host allowlist
ALLOWED_HOSTS=*
