# Debug mode (set to False in production)
DEBUG=True
ALLOWED_HOSTS=* # Django host allowlist

# Django settings module
DJANGO_SETTINGS_MODULE=conduit.settings

# Initial superuser (created by backend entrypoint)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change-this-password

IMAGE_NAMESPACE=philippemoluh-byte/conduit-container
IMAGE_TAG=latest


# PostgreSQL
DB_NAME=conduit
DB_USER=conduit
DB_PASSWORD=sicheresPasswort123
DB_HOST=db
DB_PORT=5432

CC_SECRET_KEY=change-me
